﻿@model PagedList.IPagedList<ClinicaMedica.Models.Paciente>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Pacientes";
}

@using (Html.BeginForm("Index", "Paciente", FormMethod.Get))
{
    @Html.AntiForgeryToken()

    @Html.Partial("~/Views/Shared/Listar.cshtml")

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped w-auto">
                <thead>
                    <tr>
                        <th>
                            Nome
                        </th>
                        <th>
                            Nome da mãe
                        </th>
                        <th>
                            Data de nascimento
                        </th>
                        <th>
                            CPF
                        </th>
                        <th>
                            Telefone
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="id@(item.Id)">
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NomeMae)
                            </td>
                            <td>
                                @(item.DataNascimento.ToShortDateString())
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CPF)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefone)
                            </td>
                            <td>
                                @Html.ActionLink("Alterar", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Histórico", "HistoricoConsulta", "Relatorio", new { id = item.Id }, new { }) |
                                <a href="#" onclick="Excluir('paciente', @(item.Id))">Excluir</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        @if (@Model.PageCount != 1)
        {
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, SearchString = ViewBag.Busca }))
        }
    </div>
}

<script src="~/Scripts/validacao.js"></script>