﻿@model PagedList.IPagedList<ClinicaMedica.Models.Medicamento>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Medicamentos";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/medicamento.js"></script>

@using (Html.BeginForm("Index", "Medicamento", FormMethod.Get))
{
    @Html.AntiForgeryToken()

    @Html.Partial("~/Views/Shared/Listar.cshtml")

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped w-auto">
                <thead>
                    <tr>
                        <th>
                            Nome genérico
                        </th>
                        <th>
                            Fabricante
                        </th>
                        <th>
                            Nome comercial
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="id@(item.ID)">
                            <td>
                                @Html.DisplayFor(modelItem => item.NomeGenerico)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fabricante)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NomeComercial)
                            </td>
                            @if (User.IsInRole("Supervisor"))
                            {
                                <td>

                                    @Html.ActionLink("Alterar", "Edit", new { id = item.ID }) |
                                    <a href="#" onclick="Excluir('medicamento',@(item.ID))">Excluir</a>

                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

<div class="row">
    @if (@Model.PageCount != 1)
    {
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, SearchString = ViewBag.Busca }))
    }
</div>

}
