﻿@model PagedList.IPagedList<ClinicaMedica.DTO.AgendasDTO>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Excluir agendas";
}

@using (Html.BeginForm("List", "Agenda", FormMethod.Get))
{
<div class="container">

    @Html.AntiForgeryToken()

    @Html.Partial("~/Views/Shared/Recurso.cshtml")

    @Html.Partial("~/Views/Shared/BuscarData.cshtml")

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped w-auto">
                <thead>
                    <tr>
                        <th>
                            Médico
                        </th>
                        <th>
                            Data
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="id@(item.IdMedico)">
                            <td>
                                @Html.DisplayFor(modelItem => item.NomeMedico)
                            </td>
                            <td>
                                @(item.Data.ToShortDateString())
                            </td>
                            <td>
                                <a href="#" onclick="ExcluirAgenda('@(item.Data)', @(item.IdMedico))">Excluir</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        @if (@Model.PageCount != 1)
        {
            @Html.PagedListPager(Model, page => Url.Action("List", new { page, sortOrder = ViewBag.CurrentSort, DataPesquisa = ViewBag.Busca }))
        }
    </div>

</div>
}

<script src="~/Scripts/agenda.js"></script>
