﻿@model ClinicaMedica.DTO.ConsultaDTO

@{
    ViewBag.Title = "Consulta";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#nomecid").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Consulta/GetCid",
                    type: "POST",
                    dataType: "json",
                    data: { Cid: request.term, Consulta: @(ViewData.Model.Id)},
                    success: function (data) {
                          response($.map(data, function (item) {
                              return { label: item.Descricao, value: item.Codigo, name: item.ID };
                          }))
                        console.log(data);
                    }
                })
            },

            select: function (event, response) {
                AddCid(@(ViewData.Model.Id), response.item.name, response.item.value);
            },

            messages: {
                // noResults: "", results: ""
            }
        });
    });

    $(document).ready(function () {
        $("#nomeexame").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Consulta/GetExame",
                    type: "POST",
                    dataType: "json",
                    data: { Exame: request.term, Consulta: @(ViewData.Model.Id)},
                    success: function (data) {
                          response($.map(data, function (item) {
                              return { label: item.Descricao, value: item.Codigo, name: item.ID };
                          }))
                        console.log(data);
                    }
                })
            },

            select: function (event, response) {
                AddExame(@(ViewData.Model.Id), response.item.name, response.item.value);
            },

            messages: {
                // noResults: "", results: ""
            }
        });
    });

        $(document).ready(function () {
        $("#nomemedicamento").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Consulta/GetMedicamento",
                    type: "POST",
                    dataType: "json",
                    data: { Medicamento: request.term, Consulta: @(ViewData.Model.Id)},
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Descricao,
                                value: item.NomeComercial,
                                name: item.ID,

                            };
                          }))
                    }
                })
            },

            select: function (event, response) {
                Teste(response.item.label, response.item.name, response.item.value);
            },

            messages: {
                // noResults: "", results: ""
            }
        });
    });



</script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("~/Views/Shared/Recurso.cshtml")

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-2">
            <div class="form-horizontal">
                <label>Paciente</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal">
                @(Model.NomePaciente)
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-2">
            <div class="form-horizontal">
                <label>Data hora</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal">
                @(Model.DataHoraConsulta)
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-2">
            <div class="form-horizontal">
                <label>Queixas</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal">
                @Html.TextAreaFor(model => model.Queixas, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Queixas, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-2">
            <div class="form-horizontal">
                <label>Cids</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal">
                @Html.TextBox("cidname", "", new { @class = "form-control", id = "nomecid" })
            </div>
        </div>
    </div>


    @{ Html.RenderPartial("ViewCid"); }


    <div class="row">
        <div class="col-md-2">
            <div class="form-horizontal">
                <label>Exames</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal">
                @Html.TextBox("examename", "", new { @class = "form-control", id = "nomeexame" })
            </div>
        </div>
    </div>

    @{ Html.RenderPartial("ViewExame"); }


    <div class="row">
        <div class="col-md-2">
            <div class="form-horizontal">
                <label>Medicamentos</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal">
                @Html.TextBox("medicamentoname", "", new { @class = "form-control", id = "nomemedicamento" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="form-horizontal">
                <label>Posologia</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal">
                @Html.TextBox("medicamentodose", "", new { @class = "form-control", id = "dosemedicamento", onchange = "RemoverValidacao('dosemedicamento')", onkeypress = "RemoverValidacao('dosemedicamento')", onkeydown = "RemoverValidacao('dosemedicamento')" })
                
                <div class="col-md-10">
                    @Html.ValidationMessage("teste", "", new { @class = "text-danger", id = "valdosemedicamento" })
                </div>    
                    <input type="button" value="Adicionar" class="btn btn-default" , onclick="AddMedicamento(@(ViewData.Model.Id))" />
                </div>
        </div>
    </div>

    @{ Html.RenderPartial("ViewMedicamento"); }




    <div class="form-group">
            @Html.TextBox("medicamentoid", "", new { @class = "form-control", id = "idmedicamento", type = "hidden" })
            @Html.TextBox("nomecomercial", "", new { @class = "form-control", id = "nomecomercial", type = "hidden" })     
    </div>


    <div class="row">
        <div class="col-md-6">
            <input type="submit" value="Salvar" class="btn btn-default" />
        </div>
    </div>


</div>
    }

<br>

    <div>
        @Html.ActionLink("Voltar", "Index", "Consulta", new { Id = Session["Login"], }, new { })
    </div>

    <script src="~/Scripts/processamentoconsulta.js"></script>
