﻿@model  IEnumerable<ClinicaMedica.DTO.ConsultasMedicoDTO>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<div class="container">

    @using (Html.BeginForm("Index", "Consulta", FormMethod.Get))
    {
        @Html.Partial("~/Views/Shared/Recurso.cshtml")

        @Html.Partial("~/Views/Shared/BuscarData.cshtml")

        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped w-auto">
                    <thead>
                        <tr>
                            <th>
                                Paciente
                            </th>
                            <th>
                                Horário
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NomePaciente)
                                </td>
                                <td>
                                    @(item.Horario.ToShortTimeString())
                                </td>
                                <td>
                                    @Html.ActionLink("Atender", "Edit", new { id = item.IdConsulta })
                                </td>
                                <td>
                                    @Html.ActionLink("Receita", "Receita", "Relatorio", new { id = item.IdConsulta }, new { })
                                </td>
                                <td>
                                    @Html.ActionLink("Atestado", "Atestado", "Relatorio", new { id = item.IdConsulta }, new { })
                                </td>
                                <td>
                                    @Html.ActionLink("Exames", "Exame", "Relatorio", new { id = item.IdConsulta }, new { })
                                </td>
                                <td>
                                    @Html.ActionLink("Resultados", "ResultadoMedico", "Laboratorio", new { ConsultaId = item.IdConsulta }, new { })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        @*

            @if (@Model.PageCount != 1)
            {
                @Html.PagedListPager(Model, page => Url.Action("List",
                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            }

                **@
    }
</div>

<script src="~/Scripts/agenda.js"></script>
