﻿@model ClinicaMedica.DTO.ConsultaDTO
@using (Html.BeginCollectionItem("Medicamentos"))
{
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped w-auto" id="medicamento_table">
                <thead>
                    <tr>
                        <th>
                            Nome
                        </th>
                        <th>
                            Posologia
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>

                @foreach (var property in ViewData.Model.Medicamentos)
                {
                    <tr id="m@(property.Id)_@(ViewData.Model.Id)">
                        <td>
                            @(property.Medicamento)
                        </td>

                        <td>
                            @(property.Posologia)
                        </td>

                        <td>
                            <a href="#" onclick="ExcluirMedicamento(@(property.Id), @(ViewData.Model.Id))">Excluir</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
}
