﻿@model ClinicaMedica.DTO.ConsultaDTO
@using (Html.BeginCollectionItem("Exames"))
{
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped w-auto" id="exames_table">
                <thead>
                    <tr>
                        <th>
                            Código
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>

                @foreach (var property in ViewData.Model.Exames)
                {
                    <tr id="e@(property.Id)_@(ViewData.Model.Id)">

                        <td>
                            @(property.Exame)
                        </td>

                        <td>
                            <a href="#" onclick="ExcluirExame(@(property.Id), @(ViewData.Model.Id))">Excluir</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
}
