﻿@model ClinicaMedica.DTO.ConsultaDTO
@using (Html.BeginCollectionItem("Cids"))
{
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped w-auto" id="cids_table">
                <thead>
                    <tr>
                        <th>
                            Código
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>

                @foreach (var property in ViewData.Model.Cids)
                {
                    <tr id="c@(property.Id)_@(ViewData.Model.Id)">
                        <td>
                            @(property.Cid)
                        </td>

                        <td>
                            <a href="#" onclick="ExcluirCid(@(property.Id), @(ViewData.Model.Id))">Excluir</a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
}
