﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica médica | @ViewBag.Title</title>

    <link href="~/Content/relat.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" /> -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

</head>
    <body>

        <div class="container body-content">
            @RenderBody()
            <hr />
        </div>      

        <script src="~/Scripts/bootstrap.min.js"></script> 

    </body>
</html>