﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica médica | @ViewBag.Title</title>

    <link href="~/Content/style.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <!-- Owl Carousel Assets -->
    <!--  <link href="~/owl-carousel/owl.carousel.css" rel="stylesheet">
        <link href="~/owl-carousel/owl.theme.css" rel="stylesheet">-->
</head>
    <body>

        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <a href="#" class="logo"><img src="~/images/teste.png" alt="Third slide"></a>
                    </div>

                    @if (Request.IsAuthenticated == false)
                    {
                        <div class="col-md-6 text-right">
                            <span>Informações:</span><br>
                            <strong class="contact-phone"><i class="fa fa-phone"></i> 12-3900-2000</strong>
                        </div>
                    }
                </div>
            </div>
        </header>

        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    @if (Request.IsAuthenticated == false)
                    {
                        <a class="navbar-brand" href="#"> Bem vindo </a>
                    }
                    else
                    {
                        <a class="navbar-brand" href="#"> Bem vindo,  @(User.Identity.Name)</a>
                    }

                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    @if (Request.IsAuthenticated == false)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                @Html.ActionLink("Logar", "Logar", "Login", new { area = "" }, new { })
                            </li>
                            <li>
                                @Html.ActionLink("Resultados", "LogarResultado", "Laboratorio", new { area = "" }, new { })
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">

                            @if ((User.IsInRole("Supervisor")) || (User.IsInRole("Médico")) || (User.IsInRole("Laboratório")))
                            {
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Tabelas
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        @if ((User.IsInRole("Supervisor")) || (User.IsInRole("Médico")))
                                        {
                                            <li>
                                                @Html.ActionLink("Cids", "Index", "Cid", new { area = "" }, new { })
                                            </li>
                                        }

                                        <li>
                                            @Html.ActionLink("Exames", "Index", "Exame", new { area = "" }, new { })
                                        </li>

                                        @if ((User.IsInRole("Supervisor")) || (User.IsInRole("Médico")))
                                        {
                                            <li>
                                                @Html.ActionLink("Medicamentos", "Index", "Medicamento", new { area = "" }, new { })
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }

                            @if (User.IsInRole("Supervisor"))
                            {
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Recursos
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            @Html.ActionLink("Especialidades", "Index", "Especialidade", new { area = "" }, new { })
                                        </li>
                                        <li>
                                            @Html.ActionLink("Funcionários", "Index", "Funcionario", new { area = "" }, new { })
                                        </li>
                                    </ul>
                                </li>
                            }

                            @if (User.IsInRole("Supervisor") || (User.IsInRole("Recepção")))
                            {
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Atendimento
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">

                                        @if (User.IsInRole("Supervisor"))
                                        {
                                            <li>
                                                @Html.ActionLink("Gerar agendas", "Create", "Agenda", new { area = "" }, new { })
                                            </li>

                                            <li>
                                                @Html.ActionLink("Excluir agendas", "List", "Agenda", new { area = "" }, new { })
                                            </li>
                                        }

                                        @if (User.IsInRole("Recepção"))
                                        {
                                            <li>
                                                @Html.ActionLink("Marcar consulta", "SelecionarPaciente", "Marcacao", new { operacao = "M"}, new { })
                                            </li>

                                            <li>
                                                @Html.ActionLink("Desmarcar consulta", "SelecionarPaciente", "Marcacao", new { operacao = "D"}, new { })
                                            </li>

                                            <li>
                                                @Html.ActionLink("Pacientes", "Index", "Paciente", new { area = "" }, new { })
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }


                            @if (User.IsInRole("Médico"))
                            {
                                <li>
                                    @Html.ActionLink("Atender", "Index", "Consulta", new { Id = Session["Login"] }, new { })
                                </li>
                            }

                            @if (User.IsInRole("Laboratório"))
                            {
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Laboratório
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            @Html.ActionLink("Entrega", "Entregar", "Laboratorio", new { area = "" }, new { })
                                        </li>
                                    </ul>
                                </li>
                            }

                            <li>
                                @Html.ActionLink("Trocar senha", "TrocarSenha", "Login", new { Id = Session["Login"] }, new { })
                            </li>

                            <li>
                                @Html.ActionLink("Sair", "LogOff", "Login", new { area = "" }, new { })
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>

        <div class="container body-content">
            @RenderBody()
            <hr />
        </div>

        <footer>
            <div class="wrap-footer">                    
            </div>
        </footer>

        <div class="coppy-right">
            <div class="wrap-footer">
                <div class="clearfix">                        
                </div>
            </div>
        </div>        

        <script src="~/Scripts/bootstrap.min.js"></script> 

    </body>
</html>