﻿<div class="row">
    <div class="col-md-2">
        <div class="form-horizontal">
            <label>@ViewBag.CampoBusca</label>
        </div>
    </div>
</div>

<div class="row" id="busca">
    <div class="col-md-6">
        <div class="form-horizontal">
            <input class="form-control" id="InputCodigo" name="SearchString" type="text" value="@ViewBag.Busca">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-horizontal">
            <input type="submit" value="Buscar" class="btn btn-default" />
        </div>
    </div>
</div>

<br>

