﻿<div id="main-content">

    @Html.Partial("~/Views/Shared/Recurso.cshtml")

    @if (User.IsInRole("Supervisor") || User.IsInRole("Recepção"))
    {
        <div class="row">
            <div class="col-md-2">
                <div class="form-horizontal">
                    @Html.ActionLink("Incluir", "Create")
                </div>
            </div>
            <br>
        </div>

        <br>
    }

    @Html.Partial("~/Views/Shared/Buscar.cshtml")

</div>
<script src="~/Scripts/exclusao.js"></script>
