﻿@model PagedList.IPagedList<ClinicaMedica.Models.Especialidade>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Especialidade";
}

@using (Html.BeginForm("Index", "Especialidade", FormMethod.Get))
{
    @Html.AntiForgeryToken()

    @Html.Partial("~/Views/Shared/Listar.cshtml")

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped w-auto">
                <thead>
                    <tr>
                        <th>
                            Descrição
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="id@(item.ID)">
                            <td>
                                @Html.DisplayFor(modelItem => item.Descricao)
                            </td>
                            @if (User.IsInRole("Supervisor"))
                            {
                                <td>
                                    @Html.ActionLink("Alterar", "Edit", new { id = item.ID }) |
                                    <a href="#" onclick="Excluir('especialidade', @(item.ID))">Excluir</a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        @if (@Model.PageCount != 1)
        {
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, SearchString = ViewBag.Busca }))
        }
    </div>
}