﻿@model ClinicaMedica.DTO.MarcarConsultaDTO

@{
    ViewBag.Title = "Marcação";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("~/Views/Shared/Recurso.cshtml")

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @if (ViewBag.MsgErro != "")
    {
        <p id="msgerro">@ViewBag.MsgErro</p>;
    }

    @Html.HiddenFor(model => model.PacienteId, htmlAttributes: new { id = "PacienteId", Value = @Model.PacienteId })

    <div class="form-group">
        @Html.LabelFor(model => model.DataConsulta, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.EditorFor(model => model.DataConsulta, new { htmlAttributes = new { @class = "form-control", id = "dataconsulta", onchange = "RemoverValidacao('dataconsulta')", onkeypress = "RemoverValidacao('dataconsulta')", onkeydown = "RemoverValidacao('dataconsulta')" } })
            @Html.ValidationMessageFor(model => model.DataConsulta, "", new { @class = "text-danger", id = "valdataconsulta" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => Model.EspecialidadeId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.DropDownListFor(x => Model.EspecialidadeId, new SelectList(Model.Especialidades, "Value", "Text"), "Selecione uma especialidade", htmlAttributes: new { @class = "form-control", id = "especialidade", onchange = "RemoverValidacao('especialidade')" })
            @Html.ValidationMessageFor(x => x.EspecialidadeId, "", new { @class = "text-danger", id = "valespecialidade" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Buscar" id="btnBuscar" onclick="buscarConsultas('@ViewBag.Operacao');" class="btn btn-default" />
        </div>
    </div>
</div>

    <br>

    <div class="row" id="dvConsultasResults">
        <div class="col-md-12">
            <table class="table table-striped w-auto" id="records_table"></table>
        </div>
    </div>

}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/consulta.js"></script>