﻿@model ClinicaMedica.DTO.MarcarConsultaDTO

@{
    ViewBag.Title = "Marcação";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("~/Views/Shared/Recurso.cshtml")

    <div class="row">
        <div class="col-md-2">
            <div class="form-horizontal">
                <label>@ViewBag.CampoBusca</label>
            </div>
        </div>
    </div>

    <div class="row" id="busca">
        <div class="col-md-6">
            <div class="form-horizontal">
                <input class="form-control" id="SearchString" type="text" value="@ViewBag.Busca">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-horizontal">
                <input type="button" value="Buscar" id="btnBuscarPac" onclick="buscarPacientes('@ViewBag.Operacao')" class="btn btn-default" />
            </div>
        </div>
    </div>

    <br>

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="row" id="dvPacientesResults">
            <div class="col-md-12">
                <table class="table table-striped w-auto" id="pacientes_table">

                </table>
            </div>
        </div>

 </div>

}

<script src="~/Scripts/consulta.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

