﻿@model ClinicaMedica.Models.Funcionario


@using (Html.BeginForm())
{

<div class="form-horizontal" id="agenda_crm" hidden>

    <h3>Agenda</h3>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Agenda.CRM, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Agenda.CRM, new { htmlAttributes = new { @class = "form-control", @id = "crm", onchange = "RemoverValidacao('crm')", onkeypress = "RemoverValidacao('crm')", onkeydown = "RemoverValidacao('crm')" } })
            @Html.ValidationMessageFor(model => model.Agenda.CRM, "", new { @class = "text-danger", id = "valcrm" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Agenda.EspecialidadeId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("EspecialidadeId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Agenda.EspecialidadeId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Agenda.Segunda, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.Agenda.Segunda, new { @id = "ckbSeg", onclick = "RemoverValidacao('dias')" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Agenda.Terca, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.Agenda.Terca, new { @id = "ckbTer", onclick = "RemoverValidacao('dias')" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Agenda.Quarta, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.Agenda.Quarta, new { @id = "ckbQua", onclick = "RemoverValidacao('dias')" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Agenda.Quinta, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.Agenda.Quinta, new { @id = "ckbQui", onclick = "RemoverValidacao('dias')" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Agenda.Sexta, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.Agenda.Sexta, new { @id = "ckbSex", onclick = "RemoverValidacao('dias')" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Agenda.Sabado, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.Agenda.Sabado, new { @id = "ckbSab", onclick = "RemoverValidacao('dias')" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Agenda.Domingo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.Agenda.Domingo, new { @id = "ckbDom", onclick = "RemoverValidacao('dias')" })
            @Html.ValidationMessageFor(model => model.Agenda.Domingo, "", new { @class = "text-danger", id = "valdias" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Agenda.QuantidadeConsultas, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.EditorFor(model => model.Agenda.QuantidadeConsultas, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Agenda.QuantidadeConsultas, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Agenda.TempoConsulta, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.EditorFor(model => model.Agenda.TempoConsulta, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Agenda.TempoConsulta, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Agenda.HorarioInicio, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.EditorFor(model => model.Agenda.HorarioInicio, new { htmlAttributes = new { @class = "form-control", type = "time" } })
            @Html.ValidationMessageFor(model => model.Agenda.HorarioInicio, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
    
   
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
