﻿@model ClinicaMedica.Models.Funcionario

@{
    ViewBag.Title = "Funcionários";
}

@using (Html.BeginForm("Edit", "Funcionario", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmFunc" }))
{
    @Html.AntiForgeryToken()

    @Html.Partial("~/Views/Shared/Recurso.cshtml")

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @if (ViewBag.MsgErro != "")
    {
        <p id="msgerro">@ViewBag.MsgErro</p>;
    }

    <div class="form-group">
        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Perfil, htmlAttributes: new { @class = "hidden" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.Perfil, "", new { @class = "hidden", id = "cmbPerfil", onchange = "perfil_change(this)" })
            @Html.ValidationMessageFor(model => model.Perfil, "", new { @class = "text-danger", id = "valperfil" })
        </div>
    </div>

    <div class="form-group">
        @Html.Partial("Agenda", Model)
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Salvar" onclick="ValidarCampos()" class="btn btn-default" />
        </div>
    </div>

</div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/funcionario.js"></script>
