﻿@model PagedList.IPagedList<ClinicaMedica.Models.Funcionario>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Funcionários";
}

@using (Html.BeginForm("Index", "Funcionario", FormMethod.Get))
{
    @Html.AntiForgeryToken()

    @Html.Partial("~/Views/Shared/Listar.cshtml")

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped w-auto">
                <thead>
                    <tr>
                        <th>
                            Nome
                        </th>
                        <th>
                            Login
                        </th>
                        <th>
                            Perfil
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="id@(item.Id)">
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Login)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Perfil)
                            </td>
                            @if (User.IsInRole("Supervisor"))
                            {
                                <td>

                                    @Html.ActionLink("Alterar", "Edit", new { id = item.Id }) |
                                    <a href="#" onclick="Excluir('funcionario',@(item.Id))">Excluir</a>

                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        @if (@Model.PageCount != 1)
        {
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, SearchString = ViewBag.Busca }))
        }
    </div>
}