﻿@model ClinicaMedica.DTO.TrocarSenhaDTO

@{
    ViewBag.Title = "Trocar senha";
}

@using (Html.BeginForm("TrocarSenha", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <input type="hidden" name="FuncionarioId" id="FuncionarioId" value="@ViewBag.FuncionarioId" />

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-0" })
                @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.NovaSenha, htmlAttributes: new { @class = "control-label col-md-0" })
                @Html.EditorFor(model => model.NovaSenha, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NovaSenha, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-red btn-block" name="submitcontact" id="submitcontact">Trocar</button>
        </div>
    </div>

}


















