﻿@model ClinicaMedica.DTO.EntregaExameDTO

@using (Html.BeginForm("Entregar",
                        "Laboratorio",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.Partial("~/Views/Shared/Recurso.cshtml")

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.NumeroPedido, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.EditorFor(model => model.NumeroPedido, new { htmlAttributes = new { @class = "form-control", id = "pedido", type = "number" } })
            @Html.ValidationMessageFor(model => model.NumeroPedido, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            <input type="file" name="file" id="file" accept="image/jpeg,image/gif,image/png,application/pdf,image/x-eps" />
            @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Sobrescrever, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.Sobrescrever, new { @id = "ckbsobrescrever" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvar" class="btn btn-default" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <span for="erro" class="text-danger" id="msgvalerro">@ViewBag.Message</span>
        </div>
    </div>
</div>
}
