﻿@model IEnumerable<ClinicaMedica.DTO.ResultadoDTO>

<table class="table table-striped w-auto">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeExame)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeMedico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPrescricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataLiberacao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeExame)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeMedico)
            </td>
            <td>
                @(item.DataPrescricao.ToShortDateString())
            </td>
            <td>
                @if (@item.Status == "Liberado")
                {
                    @(item.DataLiberacao.ToShortDateString())
                }
            </td>
            <td>
                @if (@item.Status == "Liberado")
                {
                    @Html.ActionLink("Consultar", "Download", new { id = item.NumeroPedido, senha = item.Senha })
                }
            </td>
        </tr>
    }

</table>
