﻿@model ClinicaMedica.DTO.RelatorioAtestadoDTO

@{
    ViewBag.Title = "Atestado médico";
    Layout = "~/Views/Shared/_LayoutRel.cshtml";
}

<table>
    <tr>
        <td><img src="~/images/logorel.png" /></td>
        <td>
            Dr. @(Model.NomeMedico) <br>
            CRM @(Model.CRM)
        </td>
    </tr>

</table>

<br>
<br>

<div class="row">
    <h2>ATESTADO</h2>
</div>

<br>
<br>

<div class="row">
    <p id="texto">
        Atesto para _________________________________ que o  Sr.(a) @(Model.NomePaciente) esteve sobre meus cuidados médicos no dia @(Model.DataConsulta.ToShortDateString()), das @(Model.DataConsulta.ToShortTimeString()) às ___ horas.
    </p>

    <p id="texto2">Necessitando o (a) mesmo (a) de (____) horas de repouso.</p>
</div>

<br>
<br>
<br>
<br>

<div class="row">
    <p id="linha">
        Cids:
        @string.Join(", ", Model.Cids.Select(c => c.Codigo).ToArray())
    </p>
</div>

<br>
<br>
<br>
<br>

<div class="row">
    <p id="linha">_________________________</p>
    <p id="textolinha">@(Model.DataConsulta.ToShortDateString())<p>
</div>

<br>
<br>
<br>
<br>

<div class="row">
    <p id="linha">_________________________</p>
    <p id="textolinha">carimbo e assinatura<p>
</div>