﻿@model ClinicaMedica.DTO.RelatorioExameDTO

@{
    ViewBag.Title = "Solicitação de exames";
    Layout = "~/Views/Shared/_LayoutRel.cshtml"; ;
}


@foreach (var item in Model.Exames)
{
<div class="form-group" id="exame">
    <h3>SOLICITAÇÃO DE EXAME</h3>
    <BR>
    <h4>Número do pedido: @(item.NumeroPedido)</h4>
    <p> Paciente: @(Model.NomePaciente) </p>
    <p> Médico: @(Model.NomeMedico) - CRM: @(Model.CRM) </p>
    <p> Exame: @(item.Codigo) -  @(item.Descricao) </p>

    <br>
    <br>

    <p>Acesse o endereço "http://clinicamedicabluyus.gearhostpreview.com/Laboratorio/LogarResultado" para obter o resultado online</p>
    <p>Login: @(item.Login)</p>
    <p>Senha: @(item.Senha)</p>
    <br><br>
</div>
}
    
