﻿@model ClinicaMedica.DTO.RelatorioHistoricoConsultaPacienteDTO

@{
    ViewBag.Title = "Histórico de Consultas";
    Layout = "~/Views/Shared/_LayoutRel.cshtml";
}

<table>
    <tr>
        <td><img src="~/images/logorel.png" /></td>
        <td>
        </td>
    </tr>

</table>

<br>
<br>

<div class="row">
    <h2>HISTÓRICO DE CONSULTAS</h2>
</div>

<br>
<br>

<p>Nome: @(Model.NomePaciente) </p>
<p>Nome da mãe: @(Model.NomeMae) </p>
<p>Data de nacimento: @(Model.DataNascimento.ToShortDateString()) </p>

<br>
<br>
<br>
<br>

<p> Consultas </p>


<table class="table">
    <tr>
        <th>
            Data
        </th>

        <th>
            Nome do médico
        </th>

        <th>
            Especialidade
        </th>
    </tr>

    @foreach (var item in Model.Consultas)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataConsulta)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.NomeMedico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidade)
            </td>
        </tr>
    }
</table>
