﻿@model ClinicaMedica.DTO.RelatorioReceitaDTO

@{
    ViewBag.Title = "Receita médica";
    Layout = "~/Views/Shared/_LayoutRel.cshtml";
}

<table>
    <tr>
        <td><img src="~/images/logorel.png" /></td>
        <td>
            Dr. @(Model.NomeMedico) <br>
            CRM @(Model.CRM)
        </td>
    </tr>

</table>

<br>
<br>

<div class="row">
    <h2>RECEITUÁRIO MÉDICO</h2>
</div>

<br>
<br>

<p>Paciente: @(Model.NomePaciente) </p>

<br>
<br>
<br>
<br>

<p> Medicamentos </p>


<table class="table">
    <tr>
        <th>
            Nome genérico
        </th>

        <th>
            Nome comercial
        </th>

        <th>
            Posologia
        </th>
    </tr>

    @foreach (var item in Model.Medicamentos)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeGenerico)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.NomeComercial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posologia)
            </td>
        </tr>
    }
</table>




<br>
<br>
<br>
<br>

<div class="row">
    <p id="linha">_________________________</p>
    <p id="textolinha">@(Model.DataConsulta.ToShortDateString())<p>
</div>

<br>
<br>
<br>
<br>

<div class="row">
    <p id="linha">_________________________</p>
    <p id="textolinha">carimbo e assinatura<p>
</div>


